:root{
    --colormain: #03a9f3;
    --colorsecond: #ea1e63;
    --dark-colorsecond: #dd1558; 
}

body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bg-main{
    background-color: var(--colormain);
}
.bg-second{
    background-color: var(--colorsecond);
}
