.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px 0;
}
.container > .row {
    width: 1000px;
    background-color: pink;
    margin: 0 calc(50%-500px);
}
.container > .row-short {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 600px;
    margin: 0 calc(50%-300px);
    background-color: yellow;
}
@media (max-width:440px) {
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }

    .container > .row,
    .container > .row-short{
        width: 100%;
        background-color: orange;
        margin: 0;
    }
}
