/* base */
@import "../base/base.css";
@import "../base/layout.css";
@import "../components/button.css";
@import "../components/clock.css";
@import "../components/progress-bar.css";

/* 3rd-party */
/* components */
/* CUSTOM STYLE BELOW THIS COMMENT */

.logo {
    width: 3rem;
}
.main title{
    font-size: 4,5rem;
.main-description{
    font-size: 1.2;
}

}
@media (max-width:68rem){
    .container>.row {
        --width 38rem;
    }
}
@media (max-width:68rem){
    .container>.row {
        --width 38rem;
    }
}
@media (max-width:68rem){
    .container>.row {
        --width 38rem;
    }
}